apiVersion: v1
kind: Service
metadata:
  name: review-service
  namespace: ecommerce
  labels:
    app: review-service
spec:
  type: ClusterIP
  selector:
    app: review-service
  ports:
  - name: http
    port: 3004
    targetPort: 3004
    protocol: TCP
  sessionAffinity: None
