apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: ecommerce
  labels:
    app: mongo
spec:
  type: ClusterIP
  clusterIP: None  # Headless service for StatefulSet
  selector:
    app: mongo
  ports:
  - name: mongodb
    port: 27017
    targetPort: 27017
    protocol: TCP
